.advantages {
    position: relative;
    width: 100%;
}

.advantages__list {
    display: flex;
    position: absolute;
    margin-top: -110px;
    margin-left: calc(50% - 600px);

}

.advantages__item {
    text-align:center;
    font: 700 36px 'Roboto', normal;
    width: 600px;
    height: 220px;
    padding: 85px 0;
    color: getColor('primary-fon');
    background-image: url(../../img/advantages/green.jpg);

    &:last-child {
        background-image: url(../../img/advantages/red.jpg);
    }
}

