.benefits {
    background-color: getColor("secondary-fon");

    @media screen and (max-width: $mobile-width) {
        display: none;
    }
}

.benefits-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefits-list__item {
    text-align: center;
    width: 200px;
    padding: 150px 0 50px 0;

    &::before {
        display: block;
        content: "";
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: getColor("secondary-fon");
    }

    &--afterschool1::before {
        background-image: url(../../img/benefits/afterschool1.png);
    }

    &--afterschool2::before {
        background-image: url(../../img/benefits/afterschool2.png);
    }

    &--afterschool3::before {
        background-image: url(../../img/benefits/afterschool3.png);
    }

    &--afterschool4::before {
        background-image: url(../../img/benefits/afterschool4.png);
    }
}

.benefits__line {
    width: 1200px;
    margin: 0 auto;
    height: 8px;
    background: getColor("contact-text");
    border-radius: 4px;
}