.benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: getColor("secondary-fon");
}

.benefits-list__item {
    text-align: center;
    width: 200px;
    padding: 200px 0 50px 0;

    &::before {
        display: block;
        content: "";
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: getColor("secondary-fon");
    }

    &--afterschool1::before {
        background-image: url(../../img/benefits/afterschool1.png);
    }

    &--afterschool2::before {
        background-image: url(../../img/benefits/afterschool2.png);
    }

    &--afterschool3::before {
        background-image: url(../../img/benefits/afterschool3.png);
    }

    &--afterschool4::before {
        background-image: url(../../img/benefits/afterschool4.png);
    }
}

.benefits-line {
    margin: 0 auto;
    width: 70%;
    height: 8px;
    background: getColor("contact-text");
    border-radius: 4px;

}