.offer__list {
    padding: 100px 0;

    @media screen and (max-width: $mobile-width) {
        padding-bottom: 80px;
    }
}

.offer__item {
    display: flex;

    @media screen and (max-width: $mobile-width) {
        flex-wrap: wrap;
       
        &:last-child {
            flex-direction: column-reverse;
        }
    }
}

.offer__image {
    width: 100%;
}

.offer__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 50px 41px;

    @media screen and (max-width: $mobile-width) {
        width: 450px;
    }
}

.offer__modal-title {

    @media screen and (max-width: $mobile-width) {
        padding-bottom: 100px;
    }
}

.offer__modal-text {

    @media screen and (max-width: $mobile-width) {
        padding-bottom: 100px;
    }
}