.offer__list {
    padding: 100px 0;
}

.offer__item {
    display: flex;
}

.offer__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 50px 100px;
}